{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="../static/uikit.css" />

{% block content %}
    <div class="uk-container">
    
        <form method="POST" class="uk-form-stacked uk-position-center">
            <fieldset class="uk-fieldset">
            {% csrf_token %}
            <div class="uk-margin">
                <label class="uk-label">Username</label>
                <input type="text" name="username" class="uk-input">
            </div>

            <div class="uk-margin">
                <label class="uk-label">Password</label>
                <input type="password" name="password" class="uk-input">
            </div>

            <div class="uk-margin">
                <button type="submit" class="uk-button uk-button-primary" style="margin: 0 auto;">Log in</button>
            </div>
            </fieldset>
            {{ form.non_field_errors }}
        </form>
    
    </div>
{% endblock %}