{% extends 'base.html' %}
{% load static %}

<html>

<head>
    Items currently in your watchlist
    <link rel="stylesheet" type="text/css" href="../static/uikit.css" />
</head>

<body>
    {% block content %}

            <form method="POST" class="uk-form-horizontal">
                {% csrf_token %}
                {% for field in form %}
                    <div class="uk-form-row">
                        <div class="uk-form-label">{{ field.label }}</div>
                        <div class="uk-form-controls">{{ field }}</div>
                    </div>
                {% endfor %}
                <button type="submit">Add</button>
            </form>

    {% endblock %}
</body>

</html>