{% extends 'base.html' %}

{% block content %}
    <p>Items currently in your watchlist</p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>URL</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for item in watchitem_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.url }}</td>
                    <td><a href="{% url 'app1:edit_item' item.id %}">Change</a></td>
                    <td><a href="{% url 'app1:price_history' item.id %}">History</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
