{% extends 'base.html' %}
{% load static %}

<html>

<head>
    Items currently in your watchlist
    <link rel="stylesheet" type="text/css" href="../static/uikit.css" />
</head>

<body>
    {% block content %}
            <div>
                <form method="POST">
                    <fieldset>
                        {% csrf_token %}
                        <legend class="uk-legend">Edit item details</legend>
                        <div class="uk-align-center" style="display:inline-block">{{form}}</div>
                        <button type="submit" class="uk-button-primary">Add</button>
                    </fieldset>
                </form>
            </div>
    {% endblock %}
</body>

</html>